<app-cabecero 
[presupuestoTotal]="getPresupuestoTotal()"
[ingresoTotal]="getIngresoTotal()"
[reintegroTotal]="getReintegroTotal()"
[porcentajeTotal]="getPorcentajeTotal()"
></app-cabecero>
<app-formulario></app-formulario>

<div class="contenedor limpiarEstilos">
  <app-ingreso></app-ingreso>
  <app-reintegro 
  [ingresoTotal]="getIngresoTotal()"
  
  ></app-reintegro>
</div>
<!--En el cabecero mostramos el presupuesto total
   que tenemos el ingreso y reintegro total y los porcentajes
   y añadimos en reintegro el ingresoTotal para extraer todos los datos
    del componente padre al hijo al componente padre en reintegroComponent con un @Input
  -->