<div class="egreso">
  <h2 class="egreso_titulo">Reintegro</h2>

  <div *ngFor="let reintegro of reintegros" class="elemento2 limpiarEstilos">
    <div class="elemento_descripcion">
      {{ reintegro.descripcion }}
    </div>
    <div class="right limpiarEstilos">
      <div class="elemento_valor">- {{ reintegro.valor | currency:"$":"€":"1.2-2"}}</div>
      <div class="elemento_porcentaje">
        {{ calcularPorcentaje(reintegro) }}%
      </div>
      <div class="elemento_eliminar">
        <button class="elemento_eliminar--btn">
          <i
            (click)="eliminarReintegro(reintegro)"
            class="ion-ios-close-outline"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!--Usamos el *ngfor para extraer los datos de reintegro que hemos creado en nuestro componente.ts
aqui usamos los pipes como currency que solo puede tomar dos valores monetarios en este caso
creamos el evento click para eliminar un registro -->